div.chat {
  width: 100vw;
  height: 100vh;
}

div.message {
  width: calc(100vw - 300px);
  height: 70px;
  background: #fff;
}

div.message.left {
  margin-right: 300px;
}
div.message.right {
  margin-left: 300px;
}

div.messages {
  width: 100%;
  height: calc(100% - 100px);
  background:  #eaeaea;
}

div.chat input {
  width: 100vw;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  bottom:  0;
}
